.contenedor {
	display: flex;
	background-color:darkslateblue;
	padding: 2vw;
	border-radius: 20px;

}

.caja {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 2vw;
	margin: 1vw;
	border-radius: 10px;
	width: 9vw;
	height: 35px;
	background-color: orange;
}

#contenedor-1 {
	justify-content: space-between;
}

#contenedor-2 {
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-end;
	background-color: green;
}

#contenedor-3 {
	flex-wrap: wrap;
	background-color: midnightblue;
}

#contenedor-3 .caja {
	width: 8vw;
}

#contenedor-4 {
	flex-direction: column-reverse;
	align-items: center;
	background-color: red;
}

#contenedor-5 {
	background-color: chocolate;
}

#caja-5-2 {
	background-color: lightskyblue;
	order: 1;
}

#caja-5-4 {
	background-color: yellowgreen;
	order: -1;
}

#caja-5-1 {
	background-color: coral;
	order: 2;
}

#contenedor-6 {
	height: 220px;
	background-color: indigo;
}

#caja-6-2 {
	align-self: center;
	background-color: darkorchid;
}

#caja-6-4 {
	align-self: flex-end;
	background-color: deeppink;
}

#contenedor-7 {
	height: 220px;
	align-items: baseline;
	background-color:maroon;
}

#contenedor-7 .caja, #contenedor-8 .caja {
	height: 60px;
}

#caja-7-1 {
	align-items: start;
	background-color: crimson;
}

#caja-7-3 {
	align-items: end;
	background-color: firebrick;
}

#caja-7-2 {
	font-size: 24px;
	align-items: end;
	background-color: darkred;
}

#contenedor-8 {
	flex-wrap: wrap;
	flex-direction: column-reverse;
	background-color: darkcyan;
	height: 330px;
}

#contenedor-9 {
	flex-wrap: wrap-reverse;
	height: 200px;
	gap: 10px 20px;
}


#contenedor-10 {
	background-color: goldenrod;
}

#caja-10-1 {
	flex-grow: 2;
	background-color:darkgrey;
}

#caja-10-3 {
	flex-grow: 1;
	background-color:brown;
}